<div class="row">
    <div class="column">
      <img src="{{ site.github.url }}/assets/img/{{ include.image }}">
      <img src="{{ site.github.url }}/assets/img/{{ include.image2 }}">
      <img src="{{ site.github.url }}/assets/img/{{ include.image3 }}">
      <img src="{{ site.github.url }}/assets/img/{{ include.image4 }}">
      <img src="{{ site.github.url }}/assets/img/{{ include.image5 }}">
      <img src="{{ site.github.url }}/assets/img/{{ include.image6 }}">
      <img src="{{ site.github.url }}/assets/img/{{ include.image7 }}">
    </div>
    <div class="column">
      <img src="underwater.jpg">
      <img src="ocean.jpg">
      <img src="wedding.jpg">
      <img src="mountainskies.jpg">
      <img src="rocks.jpg">
      <img src="underwater.jpg">
    </div>
    <div class="column">
      <img src="wedding.jpg">
      <img src="rocks.jpg">
      <img src="falls2.jpg">
      <img src="paris.jpg">
      <img src="nature.jpg">
      <img src="mist.jpg">
      <img src="paris.jpg">
    </div>
    <div class="column">
      <img src="underwater.jpg">
      <img src="ocean.jpg">
      <img src="wedding.jpg">
      <img src="mountainskies.jpg">
      <img src="rocks.jpg">
      <img src="underwater.jpg">
    </div>
  </div>