header
  height: 90px

  .logo
    float: left
    height: 80px
    margin: 30px 0 0 0
    font:
      size: 24px
      weight: 700
    a
      display: inline-block
      color: rgba(0,0,0,1)
      &:hover
        color: $accent-color

    img
      float: left
      margin: -35px 0 0 0
      display: inline-block
      height: auto
      width: auto
      vertical-align: text-top
      max-height: 120px
      max-width: 250px

  nav
    float: left
    margin: 30px 30px 0 0
    a
      display: inline-block
      margin-left: 12px
      color: rgba(0,0,0,1)
      font:
        size: 24px
        weight: 700
      &:hover
        color: $accent-color

@media (max-width: 768px) and (min-width: 673px)
  header
    .logo
      float: left
      margin: 25px 0px 0px 0px
      img
        margin: -20px 0px 0px 0px
    nav
      margin: 0px
      margin-top: 30px
      margin-bottom: 20px
      float: left
      a
        margin-left: 0px
        margin-right: 20px
        font:
          size: 16px

@media (max-width: 673px)
  header
    .logo
      float: left
      margin: 60px 0px 0px 0px
      img
        margin: -35px 0px 0px 0px
    nav
      margin: 0px
      margin-top: 30px
      margin-bottom: 20px
      width: 100%
      float: left
      a
        margin-left: 0px
        margin-right: 20px
        font:
          size: 16px

@media (max-width: 345px)
  header
    .logo
      float: left
      margin: 25px 0px 0px 0px
      img
        margin: -20px 0px 0px 0px
        height: auto
        width: auto
        vertical-align: text-top
        max-height: 80px
        max-width: 250px
    nav
      margin: 0px
      margin-top: 30px
      margin-bottom: 20px
      width: 100%
      float: left
      a
        margin-left: 0px
        margin-right: 10px
        font:
          size: 14px